body {
  background-color: #F4F4F4;
}

.body {
  background-color: #F4F4F4;
  color: black;
  margin-top: -20px;
  padding-left: 8em;
  padding-right: 8em;
}

.title {
  font-style: italic;
  font-weight: bold;
  display: flex;
  font-size: 30px;
  padding-top: 15px;
}

.text {
  margin-top: 0.7em;
  margin-left: 0.2em;
}

.has-search .form-control-feedback {
  right: initial;
  left: 0;
  color: #ccc;
}

.has-search .form-control {
  padding-right: 12px;
  padding-left: 34px;
}

.form-group {
    margin-left: 2em;
    margin-right: 2em;
}

.search {
  background-color: white;
  color: rgb(107, 107, 107);
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 0.05em;
  padding-bottom: 0.25em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.bottom {
  display: flex;
  width: auto;
  justify-content: space-between;
}

.results {
  background-color: white;
  color: rgb(107, 107, 107);
  width: 50%;
  margin-right: 2em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.nominations {
  background-color: white;
  color: rgb(107, 107, 107);
  width: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.content {
  margin: 1em;
  font-size: 20px;
}

ul {
  list-style: none;
  margin-left: 5em;
}

.movie-content {
  display:flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 5em;
  position: relative;
  transform: scale(1.1);
}

.movie-text {
  display: none;  
  position: absolute;
  width: 100%;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 196, 0);
  z-index: 1;
  transition: top .5s ease;
  font-family: "Monaco";
}

#button {
  display: none;
  position: absolute;
  bottom: 100px;
  text-align: center;
  transition: opacity .35s ease;
}

.overlay {
  position: absolute;
  top: 0;
  margin: auto;
  width: 113%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.movie-content:hover .overlay {
  display: flex;
  background: rgba(0, 0, 0, 0.486);
}

.movie-content:hover .movie-text {
  display: block;
}

.movie-content:hover #button {
  display: block;
  opacity: 1;
}
